h2 {
  color: red;
  font-size: 5vh;
}

.active:hover {
  background: #3e98d8;
}

.icons {
  display: flex;
  justify-content: center;

  img {
    width: 4rem;
    height: 4.5rem;
    margin: 0 1rem;
  }
}
