$phone: 800px;
$sea1: #96c4de;
$sea2: #486591;
$sea3: #d6e6f3;

.navSkills{
  margin-bottom: 0;
}
.icon-wrapper {
  margin-top: 20vh;
  background: $sea3;
  width: 100%;
  

  @media (max-width: $phone) {
    margin-top:40vh;
  }

  .tlink{
    margin:.5rem;
  }
  
  h1 {
    font-family: 'Bree Serif', serif;
    color:$sea2;
    font-size: 5vh;
    padding-top: 3%;
  }

  h2 {
    color:$sea1;
    font-size: 5vh;
  }

  .active:hover {
    background: #3e98d8;
  }

  .icons {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .icon-group {
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      margin: 3%;

      img {
        width: 7rem;
        height: 7rem;
        margin: 0 1rem;
        @media (max-width: $phone) {
          margin: 1.5rem;
        }
        
      }
    }
  }
}
