html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
// body {
//   line-height: 1;
// }
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
$bg: rgba(0, 0, 0, 0.2);
$tab: 1100px;
$phone: 600px;
$sea1: #96c4de;
$sea2: #486591;
$sea3: #d6e6f3;

.featured {
  display: flex;
  direction: row;
  justify-content: center;
  margin: auto;
}
.featuredprojects {
  width: 100%;
  display: flex;
  direction: column;
  justify-content: space-around;
  margin: auto;

  @media (max-width: $phone) {
    direction: row;
  }

  .fproject {
    .projectHover {
      background: #3e98d8;
      width: 60%;
      height: 400px;
    }

    .projectHover:hover {
      background: #3e98d8;

      width: 60%;
      height: 400px;
    }
  }
}

.modal-fix {
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
  font-size: 18px;
  border: 1px solid $sea2;
  background: $sea2;
  color: $sea3;
  padding: 0.7rem;
}

.modal-fix:hover {
  color: $sea2;
  background: $sea3;
}

.project-wrap {
  background: whitesmoke;
  width: 100%;
  padding-top: 1.5%;
  @media (max-width: $phone) {
    padding-top: 7%;
  }
}

.lambdatitle {
  padding-top: 3%;
  margin-bottom: 0%;

  @media (max-width: $phone) {
    padding-bottom: 5%;
  }

  h1 {
    font-size: 7rem;
    color: $sea2;
    font-family: "Bree Serif", serif;
    @media (max-width: $tab) {
      font-size: 4rem;
    }
    @media (max-width: $phone) {
      font-size: 2rem;
    }
  }
}
.body-content-first,
.body-content-last,
.body-content {
  width: 70%;
  height: 550px;
  background: yellow;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  // border-radius: 5%;

  @media (max-width: $phone) {
    width: 85%;
    padding: 0;
    flex-direction: row;
    justify-content: center;
  }

  .projectcontent,
  .image-body .container {
    width: 50%;
    background: $sea1;
    height: 100%;

    @media (max-width: $phone) {
      width: 100%;
      background: sea1;
    }
  }

  img {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .content-box {
    width: 80%; //total width of box
    height: 100%; //to cover 100% of box
    margin: auto;
    padding: 4vh 0; //vertically centers

    @media (max-width: $phone) {
      width: 100%;
      padding: 10px 0;
    }

    h1 {
      font-size: 2rem;
      padding-bottom: 1rem;

      @media (max-width: $phone) {
        display: none;
      }
    }

    h3,
    p {
      text-align: center;
      vertical-align: middle;
      line-height: 1.5rem;
      font-size: 1.2rem;
      padding-bottom: 1rem;

      @media (max-width: $phone) {
        display: none;
      }
    }
    ul {
      list-style: none;
      padding-bottom: 1rem;
    }
    li {
      font-size: 3.5vh;
      @media (max-width: $phone) {
        font-size: 2vh;
      }
    }
    a {
      font-size: 2vh;
      @media (max-width: $phone) {
        font-size: 2.7vh;
      }
    }
  }
}

.body-content-2 {
  width: 70%;
  height: 550px;
  background-image: image("../images/wellDoneDrop.png");
  //background: yellow;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $phone) {
    width: 85%;
    padding: 0;
    flex-direction: row;
    justify-content: center;
  }

  .projectBackdrop {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .projectcontent,
  .image-body {
    width: 50%;
    background: $sea1;
    height: 100%;

    @media (max-width: $phone) {
      width: 100%;
      background: $sea1;
    }
  }

  img {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .content-box {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 4vh 0; //vertically centers

    @media (max-width: $phone) {
      width: 100%;
      padding: 10px 0;
    }

    h1 {
      font-size: 2rem;
      padding-bottom: 1rem;

      @media (max-width: $phone) {
        display: none;
      }
    }

    h3,
    p {
      text-align: center;
      line-height: 1.5rem;
      font-size: 1.2rem;
      padding-bottom: 1rem;

      @media (max-width: $phone) {
        display: none;
      }
    }
    ul {
      list-style: none;
      padding-bottom: 1rem;
    }
    li {
      font-size: 3.5vh;
      @media (max-width: $phone) {
        font-size: 2vh;
      }
    }
    a {
      font-size: 2vh;
      @media (max-width: $phone) {
        font-size: 2.7vh;
      }
    }
  }
}

.body-well {
  width: 50%;
  height: 550px;
  background-image: image("../images/wellDoneDrop.png");
  background: white;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $phone) {
    width: 85%;
    padding: 0;
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: center;
  }

  .well-box {
    background-color: white;
    width: 30%;
    height: 100%;
    padding-top: 5%;

    li {
      padding: 2%;
    }
  }
  .well-box:hover {
    background-color: #486591;
    color: white;
  }
  .well-image-body {
    width: 70%;
    background: $sea1;
    height: 100%;

    @media (max-width: $phone) {
      width: 100%;
      background: $sea1;
    }
  }
  .well-image-body:hover {
    width: 85%;
    height: 85%;
  }

  img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

.body-well:hover {
  background-color: #486591;
}

.body-content-first {
  margin-top: 5%;
}

.body-content-last {
  margin-bottom: 0%;
}

// .pgcontainer{
//   width: 100%;
//   margin: 1rem auto;
//   background-color: $sea1;
//   .pgbg{
//     text-align: center;
//   }
// }
.pgcontainer {
  margin: 1rem auto;
  max-width: 960px;
  background: whitesmoke;
  width: 90%;
  height: 400px;

  
}

.pgbg,
.pgoverlay {
  text-align: center;
}

img,
.pgoverlay {
  transition: 0.1s all;
  border-radius: 3px;
}

.pgbg {
  float: left;
  position: relative;
  margin: 10% auto;
  z-index: 1;
  .pgwellImageTitle {
    background-color: white;
    h1 {
      color: blue;
      font-size: 4rem;
      @media (max-width: $phone) {
        font-size: 2rem;
      }
    }
    h2 {
      font-size: 2rem;
      @media (max-width: $phone) {
        font-size: 1rem;
      }
    }
  }
  img {
    width: 100%;
    margin-bottom: -4px;
    height: 400px;
  }
  .pgoverlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $bg;
    color: #fff;
    opacity: 0;
    h2 {
      padding-top: 20%;
      font-family: "Droid Serif", serif;
      color: white;
      font-size: 4rem;
    }
    p {
      font-family: "Julius Sans One", sans-serif;
    }
  }
  // &:hover {
  //   .pgoverlay {
  //     opacity: 1;
  //   }
  //   img {
  //     -webkit-filter: blur(2px);
  //     filter: blur(2px);
  //   }
  // }
}
