$bg: rgba(0, 0, 0, 0.2);
$sea1: #96c4de;
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 1rem auto;
  background-color: $sea1;
}


.bg,
.overlay {
  text-align: center;
}

img,
.overlay {
  transition: .1s all;
  border-radius: 3px;
}

.bg {
  float: left;
  position: relative;
  margin: 10% auto;
  z-index: 1;
  .wellImageTitle{
      background-color: white;
      h1{ 
          color:blue;
          font-size: 4rem;
      }
      h2{
        font-size:2rem
      }
  }
  img {
    width: 100%;
    margin-bottom: -4px;
    height:400px
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $bg;
    color: #fff;
    opacity: 0;
    h2 {
      padding-top: 20%;
      font-family: 'Droid Serif', serif;
      color: white;
      font-size: 4rem;
    }
    p {
      font-family: 'Julius Sans One', sans-serif;
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
    img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}

